<div class="search-bar">
  <mat-form-field appearance="outline" class="full-width">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Buscar psicólogo por nombre" [(ngModel)]="searchTerm" (input)="onSearchTermChanged()">
  </mat-form-field>
  <div class="filters">
    <mat-form-field appearance="fill">
      <mat-label>Especialidad</mat-label>
      <mat-select [(ngModel)]="selectedSpecialty" (selectionChange)="onFilterChange()">
        <mat-option value="">Todas</mat-option>
        <mat-option *ngFor="let s of specialties" [value]="s">{{ s }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
