mat-toolbar {
  display: flex;
  align-items: center;
 //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //z-index: 1000;
  border:1px solid rgba(0, 0, 0, 0.1);
}

.toggle-button {
  margin-right: 16px;
}

.app-name {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.pink-dot {
  color: #ff4081;
  margin-left: 4px;
  font-size: 35px;
}

.spacer {
  flex: 1 1 auto;
}

.notification-icon {
  margin-right: 16px;
  margin-left: 16px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-name {
  font-size: 14px;
}
