:host {
  display: block;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.content-row {
  display: flex;
  flex: 1;
}
mat-sidenav {
  width: 270px;
  background: #f5f7fa;
}

.main-content {
  flex: 1;
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .sidebar {
    width: 200px;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 1000;
    height: calc(100vh - 64px - 80px);
  }

  .main-content {
    margin-left: 0;
  }

}

.main-title{

  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}
mat-sidenav-container {

  padding-bottom: 64px;
  background-color: #f5f7fa;
}
mat-sidenav-content {
  background-color: #f5f7fa;
  margin-top: 25px;
}
