<!--<app-header-content></app-header-content> -->
<app-toolbar (toggleSidenav)="toggleSidenav()"></app-toolbar>
<mat-sidenav-container>
  <app-toolbar (toggleSidenav)="toggleSidenav()"></app-toolbar>
  <!-- Sidebar -->
  <mat-sidenav
    mode="over"
    [opened]="isSidenavOpen"
    [fixedInViewport]="true"
    fixedTopGap="64"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>

    <div class="main-content">
      <router-outlet></router-outlet>
      <app-recommended-careers></app-recommended-careers>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer-content></app-footer-content>
