:host {
  display: block;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f7fa;
}

mat-sidenav {
  width: 270px;
  background: #f5f7fa;
}


@media (max-width: 800px) {
  .sidebar {
    width: 200px;
    position: absolute;
    top: 64px;
    left: 0;
    z-index: 1000;
    height: calc(100vh - 64px - 80px);
  }

}


mat-sidenav-container {

  padding-bottom: 64px;
  background-color: #f5f7fa;
}
mat-sidenav-content {
  background-color: #f5f7fa;
  margin-top: 25px;
}
.mat-spacer {
  flex: 1 1 auto;
}
mat-sidenav {
  width: 200px;
  border-right: none;
  padding: 16px 0;
}
.content {
  height: calc(100svh - 98px);
  border-radius: 10px;
  padding: 16px;
  max-width: 1520px;
  margin: 0 auto;
  font-size: 16px;
  background: #fff;
}
mat-sidenav-container {
  height: calc(100svh - 65px);
}
